version: "3"

services:
  sonarqube:
    image: sonarqube:lts-community
    container_name: sonarqube
    restart: unless-stopped
    depends_on:
      - db
    environment:
      SONAR_JDBC_URL: "jdbc:postgresql://db:5432/sonarqube"
      SONAR_JDBC_USERNAME: "{{ psql_username }}"
      SONAR_JDBC_PASSWORD: "{{ psql_password }}"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    ports:
      - "9000:9000"
#      - "9092:9092"
  db:
    image: postgres:12
    restart: unless-stopped
    environment:
      POSTGRES_USER: "{{ psql_username }}"
      POSTGRES_PASSWORD: "{{ psql_password }}"
      POSTGRES_DB: sonarqube
    volumes:
      - postgresql:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  db_exporter:
    image: quay.io/prometheuscommunity/postgres-exporter
    restart: unless-stopped
    depends_on:
      - db
    environment:
      DATA_SOURCE_NAME: "postgresql://{{ psql_username }}:{{ psql_password }}@db:5432/postgres?sslmode=disable"
    ports:
      - "9187:9187"

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  postgresql:
  postgresql_data:
