{
      "global": "true",
      "title": "{{ input_type }}",
      "configuration": {
        "port": {{ graylog_input_port }},
        "bind_address": "0.0.0.0"
      },
      "type": "{{ input_type }}"
}
