---
apiVersion: v1alpha1
sts-region: "{{ aws_region }}"
discovery:
  exportedTagsOnMetrics:
    ec2:
      - Name
    ebs:
      - VolumeId
  jobs:
  - type: elb
    regions:
      - "{{ aws_region }}"
    length: 900
    delay: 120
    statistics:
      - Minimum
      - Maximum
      - Sum    
    metrics:
      - name: HealthyHostCount
        statistics:
        - Minimum
        period: 600
      - name: HTTPCode_Backend_2XX
        statistics:
        - Sum
        period: 60
        nilToZero: true
      - name: HTTPCode_Backend_3XX
        statistics:
        - Sum
        period: 60
        nilToZero: false
      - name: HTTPCode_Backend_4XX
        period: 60
        nilToZero: true
      - name: HTTPCode_Backend_5XX
        period: 60
        nilToZero: false
